<div id="<%= dom_id exp_transaction %>">
  <p>
    <strong>Date:</strong>
    <%= exp_transaction.date %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= exp_transaction.source %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= exp_transaction.description %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= exp_transaction.amount %>
  </p>

</div>
