<%= form_with(model: @transaction, local: true) do |form| %>
  <% if @transaction.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>
      <ul>
        <% @transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date, class: "form-control", placeholder: "Date" %>
  </div>
  <br/>
  <div>
    <% form.label :source, style: "display: block" %>
    <%= form.text_field :source, class:"form-control", placeholder:"paid to" %>
  </div>
  <br/>
  <div>
    <% form.label :description, style: "display: block" %>
    <%= form.text_field :description, class:"form-control", placeholder:"description" %>
  </div>
  <br/>
  <div>
    <% form.label :amount, style: "display: block" %>
    <%= form.text_field :amount, class:"form-control", placeholder:"amount" %>
  </div>
  <br/>
  <div>
    <% form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id, id: :friend_user, class:"form-control", value:current_user.id, type: :hidden %>
  </div>

  <%= form.hidden_field :context, value: 'account' %>
  <!-- OR -->
  <!-- <%= form.hidden_field :association_type, value: 'expense' %> -->
  
  <% if params[:transaction].present? && params[:transaction][:context] == 'account' %>
    <div class="field form-group">
      <%= form.hidden_field :account_id, value: @current_account.id %>
    </div>
  <% elsif params[:transaction].present? && params[:transaction][:context] == 'expense' %>
    <div class="field form-group">
      <%= form.hidden_field :expense_id, value: @current_expense.id %>
    </div>
  <% end %>
  
 

  <br/>
  <div class="actions">
    <%= form.submit "Submit", class: "btn btn-success" %>
  </div>
<% end %>
