<div id="<%= dom_id transaction %>">
  <p>
    <strong>Date:</strong>
    <%= transaction.date %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= transaction.source %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= transaction.description %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= transaction.amount %>
  </p>

  <p>
    <strong>User:</strong>
    <%= transaction.user_id %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= transaction.account_id %>
  </p>

  <p>
    <strong>Expense:</strong>
    <%= transaction.expense_id %>
  </p>

</div>
