
<div class="d-flex justify-content-between align-items-center">
    <h2>Transactions</h2>
    <% link_to image_tag('plus.svg', :size => "50x50"), new_transaction_path %>
</div>   

<div id="transactions">

<table class="table table-hover">
  <thead>
    <tr>
      <th>Date:</th>
      <th>Source:</th>
      <th>Description:</th>
      <th>Amount:</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.date %></td>
        <td><%= transaction.source %></td>
        <td><%= transaction.description %></td>
        <td><%= number_to_currency(transaction.amount) %></td>
        <td>
          <%= link_to "Show", transaction, class: "btn btn-secondary" %>
          <%= link_to "Edit", edit_transaction_path(transaction), class: "btn btn-secondary" %>
          <%= button_to "Destroy", transaction, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
        </td>
      
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<%= link_to "New transaction", new_transaction_path, class:"btn btn-secondary" %>
